.homepage {
  background-image: url('../../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  font-weight: 100;
  z-index: -3;
}

/* Intro text section */
.intro {
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.intro h1 {
  font-weight: 100;
  padding: 360px 0;
  text-align: center;
  transition: 0.3s ease;
}

.pagebar {
  border-top: 1px solid #112d4e;
  padding: 0;
}

@media (min-width: 525px) {
  .intro h1 {
    font-weight: 100;
    padding: 450px 0;
    text-align: center;
    transition: 0.3s ease;
  }
}
